<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>読めルンです。</title>
  <meta name="description" content="画像からテキストを生成し、タグ付けによる分類ができるウェブアプリです。">
  <%= stylesheet_link_tag "example/style" %>
  <%= stylesheet_link_tag "example/top" %>
</head>
<body>
  <h1><a href="/">読め<span>ルン</span>です。</a></h1>
  <h2>処理センタクがめん。</h2>
  <div class="second">
    <div class="subtitle">したいコトを選<span>ブン</span>です。</div>
  </div>
  <div class="parent">
    <div class="row1">
      <div class="child">
	<%= link_to image_tag('/images/text.jpg'), '/example/text', { :class => "submit_btn picture1"} %>
	<p class="div-contents"><span>文字</span>を認識しちゃ<span>ウン</span>です。</p>
      </div>
      <div class="child">
	<%= link_to image_tag('/images/face.jpg'), '/example/face_upload', { :class => "submit_btn picture2"} %>
	<p class="div-contents"><span>顔写真</span>を認識しちゃ<span>ウン</span>です。</p>
      </div>
    </div>
    <div class="row2">
      <div class="child">
	<%= link_to image_tag('/images/food.jpg'), '/example/food_upload', { :class => "submit_btn picture3"} %>
	<p class="div-contents"><span>食べ物</span>を認識しちゃ<span>ウン</span>です。</p>
      </div>
      <div class="child">
	<%= link_to image_tag('/images/earth.jpg'), '/example/general_upload', { :class => "submit_btn picture4"} %>
	<p class="div-contents"><span>ナンデモ</span>認識しちゃ<span>ウン</span>です。</p>
      </div>
    </div>
  </div>
</body>
</html>
